body{
    margin: 0;
    padding: 50px;
	background-image: url('../img/auth/back.png');
	background-repeat: no-repeat;
	background-size: auto;
	font-size: 2vh;
}

.center{
    padding: 30px;
    display: grid;
    place-items: center;
    border: 1px solid black;
	background: rgba(255,255,255,0.75);
}

input,#categories,#subs{
    font-size: large;
}