@font-face {
    font-family:Droid; 
    src: url(../font/Droid.ttf); 
}

@font-face {
    font-family:Lato; 
    src: url(../font/Lato.ttf); 
}

@font-face {
    font-family:Piton; 
    src: url(../font/Piton.ttf); 
}